<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNG</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7cbad">  <td>19/10/07 10:04:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.AfterMethod(org.testng.ITestResult)[pri:0, instance:es.selenium.testng.TestNG@42e26948]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/10/07 10:04:39</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.AfterMethod(org.testng.ITestResult)[pri:0, instance:es.selenium.testng.TestNG2@57baeedf]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/10/07 10:04:39</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG.BeforeMethod(java.lang.reflect.Method)[pri:0, instance:es.selenium.testng.TestNG@42e26948]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/10/07 10:04:39</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG2.BeforeMethod(java.lang.reflect.Method)[pri:0, instance:es.selenium.testng.TestNG2@57baeedf]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/10/07 10:04:39</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG.Login()[pri:0, instance:es.selenium.testng.TestNG@42e26948]">Login</td> 
  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/10/07 10:04:39</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG2.Login2()[pri:0, instance:es.selenium.testng.TestNG2@57baeedf]">Login2</td> 
  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/10/07 10:04:39</td>   <td>-256</td> <td title="&gt;&gt;Base.setUp()[pri:0, instance:es.selenium.testng.TestNG@42e26948]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/10/07 10:04:39</td>   <td>41</td> <td title="&lt;&lt;Base.tearDown()[pri:0, instance:es.selenium.testng.TestNG@42e26948]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
</table>
