<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8da5ba">  <td>19/10/07 15:46:47</td>   <td>0</td> <td title="&gt;&gt;Base.setUp()[pri:0, instance:es.selenium.testng.TestNG2@1a968a59]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/10/07 15:46:52</td>   <td>5040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG2.BeforeMethod(java.lang.reflect.Method)[pri:0, instance:es.selenium.testng.TestNG2@1a968a59]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/10/07 15:46:52</td>   <td>5051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG2.Login2()[pri:0, instance:es.selenium.testng.TestNG2@1a968a59]">Login2</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>19/10/07 15:46:52</td>   <td>5064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.AfterMethod(org.testng.ITestResult)[pri:0, instance:es.selenium.testng.TestNG2@1a968a59]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>19/10/07 15:46:52</td>   <td>5093</td> <td title="&lt;&lt;Base.tearDown()[pri:0, instance:es.selenium.testng.TestNG2@1a968a59]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
</table>
