<h2>Methods that were not run</h2><table>
<tr><td>es.selenium.testng.Base.tearDown</td></tr>
<tr><td>es.selenium.testng.Base.tearDown</td></tr>
<tr><td>es.selenium.testng.Base.setUp</td></tr>
<tr><td>es.selenium.testng.Base.setUp</td></tr>
</table>