<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MyKamstrup</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c0edeb">  <td>19/10/11 13:59:32</td>   <td>0</td> <td title="&gt;&gt;Base.setUp()[pri:0, instance:es.selenium.testng.Login@3abbfa04]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/10/11 13:59:38</td>   <td>5816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.beforeMethod(java.lang.reflect.Method)[pri:0, instance:es.selenium.testng.Login@3abbfa04]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/10/11 13:59:38</td>   <td>5822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.login(java.lang.String, java.lang.String)[pri:0, instance:es.selenium.testng.Login@3abbfa04]">login</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>19/10/11 14:00:01</td>   <td>28404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.AfterMethod(org.testng.ITestResult)[pri:0, instance:es.selenium.testng.Login@3abbfa04]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/10/11 14:00:01</td>   <td>28415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UserAdministration.beforeMethod(java.lang.reflect.Method)[pri:0, instance:es.selenium.testng.UserAdministration@57fffcd7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/10/11 14:00:01</td>   <td>28415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserAdministration.tabUserAdministration()[pri:0, instance:es.selenium.testng.UserAdministration@57fffcd7]">tabUserAdministration</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>19/10/11 14:00:01</td>   <td>28420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.AfterMethod(org.testng.ITestResult)[pri:0, instance:es.selenium.testng.UserAdministration@57fffcd7]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/10/11 14:00:01</td>   <td>28421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UtiliDriver.BeforeMethod(java.lang.reflect.Method)[pri:0, instance:es.selenium.testng.UtiliDriver@598067a5]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/10/11 14:00:01</td>   <td>28421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UtiliDriver.tabUtilyDriver()[pri:0, instance:es.selenium.testng.UtiliDriver@598067a5]">tabUtilyDriver</td> 
  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>19/10/11 14:00:01</td>   <td>28429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.AfterMethod(org.testng.ITestResult)[pri:0, instance:es.selenium.testng.UtiliDriver@598067a5]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>19/10/11 14:00:01</td>   <td>28467</td> <td title="&lt;&lt;Base.tearDown()[pri:0, instance:es.selenium.testng.Login@3abbfa04]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
</table>
